html, body {
  height: 100%;
  margin: 0;
}
h1, a {
  font-family: 'Montserrat', 'Arial', serif;
  font-weight: 300;
  color: #111111;
}
body {
  background-color: #e0e0e0;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
div.main-container {
  margin: 0;
  width: 100%;
  display: block;
}
div.intro-container {
  width: 80%;
  margin: auto;
  display: block;
}
h1.intro-title {
  margin: 0;
}
div.contact-container {
  display: inline-block;
  padding-top: 10px;
}
div.contact-container a {
  font-size: 20px;
  margin: 0 4px;
}